body {
    background-color: #333;
}

#sobre {
    text-align: center;
}

#card {
    padding: 2rem;
    margin: 1rem 0;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 1rem 0;
}
